fieldset legend {
  position:relative;
}  

#block-system-user-menu ul li {
  list-style:none;
}

.node-product-display.node-teaser .region-two-33-66-second {
  padding-left:15px;
  width:64%;
}  

.form-item-comment-body-und-0-value label {
  display:none;
}

.comment ul.links {
  float:right;
  margin-bottom:0;
}

.comment ul.links li {
  padding-right:10px;
}

header.comment-header h3,
header.comment-header time{
  display:none;
}

article.comment {
  border-radius:15px;
  border:1px solid #ccc;
  padding:15px;
}

#edit-comment-body-und-0-format {
  display:none;
}

.field-type-commerce-price {
  padding:10px 0;
  font-weight:bold;
  font-size:1.2em;
}